<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <div class="nav navbar-nav">
    
        <a class="nav-item nav-link"
        [class.active]="aba == 'home'"
        (click)="aba= 'home'"
        >Home</a>
        <a class="nav-item nav-link"
        [class.active]="aba == 'mapa'"
        (click)="aba= 'mapa'"
        >Mapa</a>
        <a class="nav-item nav-link"
        [class.active]="aba == 'lista'"
        (click)="aba= 'lista'"
        >Lista</a>
      
      </div>  
    
   
</nav>
<br>
<div class="container" [ngSwitch]="aba">
  <div *ngSwitchCase="'mapa'">
      <h5>Mapa</h5>
  </div>
  <div *ngSwitchCase="'lista'">
      <h5>Lista</h5>
  </div>
  <div *ngSwitchDefault><h5>Home</h5></div>
</div>